.tweets {
  margin-top: 40px;
  width: 100%;
}

.tweet {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 400px;
  background-color: #f4f4f4;
  border: 1px solid #dedede;
}

.tweet + .tweet {
  margin-top: 20px;
}
